/*TIPOGRAFIA*/

/*TENGO 400 (REGULAR), 600 (SEMIBOLD) y 700 (BOLD) */

h1 {
  font-size: 100px;
  font-family: "Encode Sans", Helvetica, Arial, "sans-serif";
  font-weight: 600;
  color: black;
}

h2 {
  font-size: 50px;
  font-family: "Encode Sans", Helvetica, Arial, "sans-serif";
  font-weight: 600;
  color: black;
}

h3 {
  font-size: 35px;
  font-family: "Encode Sans", Helvetica, Arial, "sans-serif";
  color: black;
}

h4 {
  font-size: 18px;
  font-family: "Encode Sans", Helvetica, Arial, "sans-serif";
  color: black;
}

p {
  font-family: "Encode Sans", Helvetica, Arial, "sans-serif";
  color: black;
}

.centerelement {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* LOGO */

.logo-mini {
  max-width: 200px;
}

.logo-text {
  font-weight: 400;
}

/*HELPER CLASSES*/

.margintop150 {
  margin-top: 150px;
}

.margintop75 {
  margin-top: 75px;
}

.margintop40 {
  margin-top: 40px;
}

.margintop51 {
  margin-top: 51px;
}

.margintop10 {
  margin-top: 10px;
}

.mtop15 {
  margin-top: 15px;
}

.marginbottom40 {
  margin-bottom: 40px;
}

.margin-list {
  padding: 0;
  margin-top: 345px;
}

.no-margin-top {
  margin-top: 0px;
}

.padding35 {
  padding: 35px;
}

.padding20-nosides {
  padding: 20px 0px;
}

.margin25auto {
  margin: 25px auto;
}

.img-center {
  display: flex;
  margin: auto;
}

/*NAVBAR*/

.top-nav {
  padding-top: 25px;
}

.navbar-default {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background-color: white;
  border: none;
  background-image: none !important;
}

/*VIDEOS*/

.video-responsive {
  display: block;
  max-width: 100%;
}

.margin-title {
  margin-top: 150px;
}

/*LISTA*/

li {
  list-style: none;
  font-family: "Encode Sans", Helvetica, Arial, "sans-serif";
  font-size: 12px;
}

.circle-social {
  border-radius: 50%;
  background-color: #000000;
  height: 30px;
  width: 30px;
  margin: 0 5px 0 0;
}

.social-icons {
  display: flex !important;
  padding-top: 9px;
  justify-content: space-around;
  color: #fff;
}

.rrss-list {
  margin-top: 20px;
  margin-left: 0px;
}

/* BOTON WHATSAPP */

.wapp-button {
  max-width: 150px;
}

.wapp-ul-margin {
  margin-top: 13px;
  margin-left: 0px;
}

/*LISTA TRATAMIENTOS*/

.tratamientos li {
  list-style: none;
  font-family: "Encode Sans", Helvetica, Arial, "sans-serif";
  font-size: 16px;
}

/*LISTA TRATAMIENTOS PAGINA*/

.tratamientos-pagina li {
  list-style: none;
  font-family: "Encode Sans", Helvetica, Arial, "sans-serif";
  font-size: 18px;
  font-weight: 600;
}

.tratamientos-pagina h3:before {
  content: url("img/bullet_cuadrado.jpg");
  padding-right: 8px;
  padding-top: 3px;
  color: #befff4;
}

/*CUERPOS*/

.pathology-title {
  transform: rotate(-90deg);
  display: flex;
  flex-direction: row-reverse;
}

/*BOTONES*/

.btn-custom {
  color: #fff;
  background-color: #000 !important;
  font-family: "Encode Sans", Helvetica, Arial, "sans-serif";
  font-weight: 600;
  border-radius: 0 !important;
}

.btn-custom a {
  color: #fff;
}

.btn-custom:hover {
  color: #ccc !important;
}

.btn-custom:active {
  color: #ccc !important;
}

.btn-custom:focus {
  color: #ccc !important;
}

.btn-fixed {
  width: 100%;
  bottom: 0;
  left: 0;
}

.btn-custom-white {
  color: #000;
  background-color: #ffffff !important;
  font-family: "Encode Sans", Helvetica, Arial, "sans-serif";
  font-weight: 600;
  border-radius: 0 !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

/*BACKGROUNDS*/

.main-color {
  background-color: #befff4;
}

/*EQUIPO*/

.circle-img {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  background-image: url(img/jf.jpg);
  background-size: 100%;
  float: left;
}

.credentials-container {

}

.credentials {
  overflow: hidden;
  padding-left: 25px;
}

.credentials-name {
  font-size: 25px;
  font-family: "Encode Sans", Helvetica, Arial, "sans-serif";
  font-weight: 400;
}

.turnos-container {
  border-bottom: 20px solid #befff4;
}

/*TRATAMIENTOS TITULOS*/



.white-title {
  background-color: #fff;
  padding: 15px;
  font-weight: 600;
  width: 60%;
}

/*FOOTER*/

.footer-color {
  background-color: #000;
  align-items: center;
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 12px;
  font-family: "Encode Sans", Helvetica, Arial, "sans-serif";
}

/*MODAL*/

.modal-content {
  border-radius: 0px !important;
}

body.modal-open {
  overflow: visible;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 800px;
  }
}
/*MEDIA QUERIES*/

@media screen and (max-width: 578px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 35px;
    margin-left: 10px;
  }

  h3 {
    font-size: 25px;
  }

  .equipo-container h2{
    margin-left: 0;
  }
  .credentials-container {
    padding-left: 15px;
  }
  .credentials {
    width: 100%;
    padding-left: 0;
    padding-top: 10px;
  }

  .tratamientos-container .container{
    padding-left: 0;
  }
  .tratamientos-container .container h2{
    margin-left: 0;
  }
  .medicos{
    padding-bottom: 30px;
  }
  .turnos-container{
    width: 100%;
    border: none;
  }
  .turnos-btn-container{
    padding-left: 0px;
    padding-right: 0px;
  }
  .turnos-btn-container .btn{
    width: 100%;
  }
  .contact-container h2{
    margin-left: 0;
  }
}

@media (max-width: 990px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .wapp-button {
    max-width: 200px;
  }

  h2 {
    margin-left: 10px;
  }

  .btn-mobile{
    margin-left: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .margin-title {
    margin-top: 15px;
  }

  .nav > li > a {
    padding: 10px 10px;
  }
}

area:focus {
  outline: solid red 2px !important;
}

@media screen and (max-width: 375px) {
  .modal-dialog {
    width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .modal-dialog {
    width: 300px;
  }
}
